<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13E28</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ForkLetStarter</string>
	<key>CFBundleIconFile</key>
	<string>ForkLetStarter</string>
	<key>CFBundleIdentifier</key>
	<string>com.binarynights.ForkLetStarter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5B1008</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13C64</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0511</string>
	<key>DTXcodeBuild</key>
	<string>5B1008</string>
	<key>ForkLiftPath</key>
	<string>/Applications/ForkLift.app</string>
	<key>ForkletSettings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGh4hYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK8QHwcIIyQlJicoKSorLC0uL1NUVVtcY0Voent8fX5/hYZVJG51bGzTCQoLDBci
	V05TLmtleXNaTlMub2JqZWN0c1YkY2xhc3OqDQ4PEBESExQVFoACgAOABIAFgAaAB4AI
	gAmACoALqhgZGhsbGx4fGBuADIANgA6AFYAVgBWAFoAegAyAFYATWEFkZEl0ZW1zWlRp
	bWVPZmZzZXReU291cmNlRmF2b3JpdGVdU3luY0ludmlzaWJsZVtEZWxldGVJdGVtc1tT
	eW5jRm9sZGVyc15UYXJnZXRGYXZvcml0ZVpVcGRhdGVNb2RlW1VwZGF0ZUl0ZW1zXxAT
	RGV0ZXJtaW5lVGltZU9mZnNldAkQAN8QEzAxMjM0NTY3ODk6Ozw9Pj8LQEFCQ0NFQ0dI
	Qy5KQ0NDLkNDUENDVHV1aWRdbGVmdEZhdm9yaXRlc1l2b2x1bWVVUkxbYXNrUGFzc3dv
	cmRXYmFzZVVybFh1c2VyRGF0YVRwYXRoVGhvc3RUdHlwZV5zdHJpbmdFbmNvZGluZ11r
	ZXlFcXVpdmFsZW50WWxvY2FsUGF0aFh1c2VybmFtZV8QFWtleUVxdWl2YWxlbnRNb2Rp
	ZmllclN1cmxecmlnaHRGYXZvcml0ZXNUbmFtZVRwb3J0gA+AAIAACIAAgBGAEIAAEAWA
	AIAAgACAAIAAgBSAAIAAXxAkMzg4MUQ4QkUtQzMwRC00OUQzLTlBN0UtQkMxMkE3NTZE
	M0JCXxBIL0FwcGxpY2F0aW9ucy9NQU1QL2h0ZG9jcy9pbmRlbWFuZHRlc3Rpbmcvd3At
	Y29udGVudC90aGVtZXMvZW5mb2xkLWNoaWxk0wkKC1ZYIqFXgBKhGIAMgBNbcGFzc2l2
	ZU1vZGXSXV5fYFokY2xhc3NuYW1lWCRjbGFzc2VzXxATTlNNdXRhYmxlRGljdGlvbmFy
	eaNfYWJcTlNEaWN0aW9uYXJ5WE5TT2JqZWN00l1eZGVaQk5GYXZvcml0ZaJmYlpCTkZh
	dm9yaXRlCN8QEzAxMjM0NTY3ODk6Ozw9Pj8LQEFpQ0NFQ25vcHFKQ0N0LkNDUHhDgBeA
	AIAACIAAgByAG4AZEMiAAIAAgBqAAIAAgBSAGIAAXxAkMEVBNjlFQTItM0FDNy00OEVC
	LTg4NjUtM0VERDRFOTFGQzUyXxASSW5EZW1hbmQgV3AtZW5naW5lXDUwLjExNi4xMy4z
	OFhpbmRlbWFuZF8QHy93cC1jb250ZW50L3RoZW1lcy9lbmZvbGQtY2hpbGTTCQoLgIIi
	oYGAHaEYgAyAE1twYXNzaXZlTW9kZRACXxAPTlNLZXllZEFyY2hpdmVy0YmKVHJvb3SA
	AQAIABEAGgAjAC0AMgA3AFkAXwBmAG4AeQCAAIsAjQCPAJEAkwCVAJcAmQCbAJ0AnwCq
	AKwArgCwALIAtAC2ALgAugC8AL4AwADJANQA4wDxAP0BCQEYASMBLwFFAUYBSAFxAXYB
	hAGOAZoBogGrAbABtQG6AckB1wHhAeoCAgIGAhUCGgIfAiECIwIlAiYCKAIqAiwCLgIw
	AjICNAI2AjgCOgI8Aj4CQAJnArICuQK7Ar0CvwLBAsMCzwLUAt8C6AL+AwIDDwMYAx0D
	KAMrAzYDNwNgA2IDZANmA2cDaQNrA20DbwNxA3MDdQN3A3kDewN9A38DgQOoA70DygPT
	A/UD/AP+BAAEAgQEBAYEEgQUBCYEKQQuAAAAAAAAAgEAAAAAAAAAiwAAAAAAAAAAAAAA
	AAAABDA=
	</data>
	<key>ForkletType</key>
	<string>Synclet</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>ForkLetStarter</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
